*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 40px;
    margin-right: 40px;
}

h1{
    font-size: 30px;    
    background-color: blue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 35px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 30px;    
    background-color: gray;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 35px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;     
    background-color: coral;
    color: white;    
    height: 35px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;  

}

.menuLi{   
    
    color: blueviolet ;    
    text-decoration: none;   
                
}

.menuUl{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    text-align: center;          
    
}

.sair{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
