*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
       
}

h1{        
    background-color: blue;
    color: white;
    font-size: 1.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{       
    background-color: gray;
    color: white;
    font-size: 1.6rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{         
    background-color: coral;
    color: white;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;         
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;  

}

h4{
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
}

h5{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
}

p{
    font-size: 1.1rem;
    color: black;
    width: 95%;
    text-align: justify;    
    margin-left: auto;
    margin-right: auto;
    text-indent: 4rem;
}

.menuLi{ 
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    color: blueviolet ;    
    text-decoration: none;   
                
}

.menuUl{    
    list-style-type: none;
    text-align: center;   
}

.sair{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
    
}

.contorno{
    width: 1200px;
    height: 550px;
    border: 0px solid white;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/*.listaMenu{
    margin-left: 2vw;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     list-style-type: none;
       
}

.listaMenu2{
    text-decoration: none;
}*/




@media (max-width: 800px) {
    body{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    h4{
        font-size: 2.5rem;
        text-align: center;
    } 
    
    h5{ 
        font-size: 2.5rem;
        text-align: center;
    }  
       
    .sair{
        font-size: 3.5rem;
        text-align: center;
    }

    .contorno{
        width: 90%;
        height: 550px;
    }
    
}




@media (max-width: 500px) {
    body{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }
    
    h4{
        font-size: 2.5rem;
        text-align: center;
    } 

    h5{ 
        font-size: 2.5rem;
        text-align: center;
    }   
    
    
    .sair{
        font-size: 3.5rem;
        text-align: center;
    }

    .contorno{
        width: 90%;
        height: 550px;
    }



}











