*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
       
}

h1{
    background-color: blueviolet;
    color: white;
    font-size: 2rem;      
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 
}

h2{       
    background-color: gray;
    color: white;
    font-size: 1.8rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{         
    background-color: coral;
    color: white;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;         
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;  

}

h4{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.menuLi{ 
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    
    color: blueviolet ;    
    text-decoration: none;   
                
}

.menuUl{    
    list-style-type: none;
    text-align: center;
                  
}

.sair{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
}


th,td{
    border: 3px  solid  black;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;      
        
}

.fontTh{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
}


table{
     width: 70%;
    margin: auto;
}

.imagem{
    max-width: 100%;
    height: auto; 

}

.largura{
    width:30%;
}



.cor1{
    background-color: darkgray;
}

.cor2{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
    color: white;
}

.cor4{
    background-color: lightgray
}




/*.centro{
    text-align: center;
    align-items: center;
}*/







@media (max-width: 800px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    h4{
        font-size: 3.5rem;        
        text-align: center;        
    }
    
    h5{
        font-size: 3.5rem;        
        text-align: center;
    }

    .menuLi{
        font-size: 3.5rem;
        text-align: center; 
                
    }

    .menuUl{
        font-size: 3.5rem;
        text-align: center; 
                
    }
    
    /*p{
        font-size: 2.5rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }*/

    .sair{
        font-size: 3.5rem;
        text-align: center;
    }

    table{
        width: 90%;
        margin: auto;        
    }

    td, th{
        font-size: 1.5rem;
        text-align: center;
    }

    .largura{
        width: auto;
    }


}


@media (max-width: 500px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    h4{
        font-size: 3.5rem;        
        text-align: center;
    }
    
    h5{
        font-size: 3.5rem;        
        text-align: center;
    }

    /*.menuLi{
        font-size: 3.5rem;
        text-align: center;                
    }&/

    /*.menuUl{
        font-size: 3.5rem;
        text-align: center;                 
    }*/
    
    /*p{
        font-size: 2.5rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }*/

    
    .sair{
        font-size: 3.5rem;
        text-align: center;
    }

    table{
        width: 90%;
        margin: auto;        
    }

    td, th{
        font-size: 1.5rem;
        text-align: center;
    }

    .largura{
        width: auto;
    }

}









