*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
       
}

h1{        
    background-color: blue;
    color: white;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{       
    background-color: gray;
    color: white;
    font-size: 1.5rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{         
    background-color: coral;
    color: white;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;         
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;  

}

h4{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
}

h5{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
}

p{
    font-size: 1rem;
    color: black;
    width: 95%;
    text-align: justify;    
    margin-left: auto;
    margin-right: auto;
    text-indent: 4rem;
}

.menuLi{ 
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    color: blueviolet ;    
    text-decoration: none;   
                
}

.menuUl{    
    list-style-type: none;
    text-align: center;   
}

.sair{
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
    
}

.item{
    border: 3px solid black;    
    height: 200px;
    width: 450px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


th{
    border: 3px  solid  black;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    padding: 10px; 
    margin-top: auto;
    margin-bottom: auto;   
        
}

td{
    border: 3px  solid  black;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    padding: 10px; 
    margin-top: auto;
    margin-bottom: auto;   
        
}

.fontTh{
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
    padding: 10px;
}

/*.container-tabela{
    width: 65%;
    margin: auto;       
}*/


table{
    width: 80rem;    
    margin: auto;   
}


.colum{
    width: 17rem;    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.colum1{
    width: 20rem;
    
}

.colum2{
    width: 40rem;
    
}


.colum3{
    width: 10rem;    
}


.cor1{
    background-color: darkgray;
}

.cor2{
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
    color: white;
}

.cor4{
    background-color: lightgray
}




/*.centro{
    text-align: center;
    align-items: center;
}*/







@media screen and (max-width: 768px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    h4{
        font-size: 3.5rem;        
        text-align: center;        
    }
    
    h5{
        font-size: 3.5rem;        
        text-align: center;
    }

    .menuLi{
        font-size: 3.5rem;
        text-align: center; 
                
    }

    .menuUl{
        font-size: 3.5rem;
        text-align: center; 
                
    }

    .cor2{
    font-size: 3.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
    
    /*p{
        font-size: 2.5rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }*/

    .sair{
        font-size: 3.5rem;
        text-align: center;
    }

    .container-tabela{
    overflow-x: auto;    
}

    

    th{
        font-size: 2rem;
        text-align: center;
    }

    td{
        font-size: 1.5rem;
        text-align: center;
    }
    

    /*.fixo{
        position: fixed;
        bottom: 0;;
        width: 95%;
    }*/

    table{
        width: 100%;
        margin: auto;        
    }

    .colum{
        width: 17rem;
        height: auto;
        text-align: center;
        
    }

    .colum1{
        width: 30%;
        text-align: center;
        
    }


    .colum2{
        width: 35%;
        text-align: center;
        
    }

    .colum3{
        width: 20%;
        text-align: center;
        
    }



}




@media screen and (max-width: 480px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    h4{
        font-size: 3.5rem;        
        text-align: center;        
    }
    
    h5{
        font-size: 3.5rem;        
        text-align: center;
    }

    .menuLi{
        font-size: 3.5rem;
        text-align: center; 
                
    }

    .menuUl{
        font-size: 3.5rem;
        text-align: center; 
                
    }

    .cor2{
    font-size: 3.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
    
    /*p{
        font-size: 2.5rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }*/

    .sair{
        font-size: 3.5rem;
        text-align: center;
    }

    .container-tabela{
    overflow-x: auto;    
}

    

    th{
        font-size: 2rem;
        text-align: center;
    }

    td{
        font-size: 1.5rem;
        text-align: center;
    }
    

    /*.fixo{
        position: fixed;
        bottom: 0;;
        width: 95%;
    }*/

    table{
        width: 100%;
        margin: auto;        
    }

    .colum{
        width: 17rem;
        height: auto;
        text-align: center;
        
    }

    .colum1{
        width: 30%;
        text-align: center;
        
    }


    .colum2{
        width: 35%;
        text-align: center;
        
    }

    .colum3{
        width: 20%;
        text-align: center;
        
    }



}

















