*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
       
}

h1{        
    background-color: blue;
    color: white;
    font-size: 1.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{       
    background-color: gray;
    color: white;
    font-size: 1.6rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{         
    background-color: coral;
    color: white;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;         
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;  

}

h4{
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
}

h5{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
}

p{
    font-size: 1.1rem;
    color: black;
    width: 95%;
    text-align: justify;    
    margin-left: auto;
    margin-right: auto;
    text-indent: 4rem;
}

.menuLi{ 
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    color: blueviolet ;    
    text-decoration: none;   
                
}

.menuUl{    
    list-style-type: none;
    text-align: center;   
}

.sair{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
    
}

.baner{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;      
       
    
}

.baner2{
    border: 3px solid white;    
    height: 16rem;
    width: 16rem;
    margin: 0.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.img{
    border-radius: 50%;
    border: 3px solid black;
    border: none;
}*/




@media (max-width: 808px) {
    body{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    .menuLi{
        font-size: 3.5rem;
        text-align: center;

    }

    .baner{     
        flex-direction: column;
        
    } 
    
    .baner2{
    border: 0px solid white;    
    height: 35rem;
    width: 90%;    

    }
    
}


@media (max-width: 500px) {
    body{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    .menuLi{
        font-size: 3.5rem;
        text-align: center;
    }

    .baner{     
        flex-direction: column;
        
    } 
    
    .baner2{
    border: 0px solid white;    
    height: 35rem;
    width: 90%;    

    }  
    
}









