*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;       
}


html, body{
    /*Retira o Balancinho Horizontal do Codigo*/
    overflow-x: hidden;
}





/*Titulos*/
h1{        
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 0.6rem;
}

h2{       
    background-color: gray;
    color: white;
    font-size: 1.4rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    padding: 0.6rem;
}

h3{         
    background-color: coral;
    color: white;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;         
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
    padding: 0.6rem;  

}

h4{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;    
    text-align: center;
    margin-bottom: 3rem;
}

h5{
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
    margin-bottom: 3rem;
}



/*Baner*/
.containerBaner{
    display: flex;
    justify-content: center;
    align-items: center;    
    
    margin-top: 0rem;
    margin-bottom: 3rem;

    /*Propriedade Imagem Não Destorcer*/
    object-fit: cover;

    /*background-image: "imagem/fotoMasso1.jpd";*/
}

.itemBaner{
    border: 0px solid black;
    width: 100vw;
    height: 30rem;    

}



/*Menu*/
.containerUl{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    row-gap: 1rem;
    column-gap: 1rem;
    
    

    justify-content: center;
    align-items: center;    
           
    list-style-type: none;    
    
    /*Mantem o Texto em uma Única Linha*/
    white-space: nowrap;

    margin-bottom: 6rem;
}


.itemLi{ 
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: blueviolet;  
    color: white ;     
    text-decoration: none;  
   
    text-align: center;
    padding: 0.6rem;
    
    border-radius: 6px;

    transition: backgroud-color 0.3s; 
                
}

.itemLiInicial{ 
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: red;  
    color: white ;     
    text-decoration: none;     
    text-align: center;
    padding: 0.6rem;
    border-radius: 6px;
    transition: backgroud-color 0.3s;    

    /*Efeito Botão
    transition: backgroud-color 0.3s;*/          

}

/*Efeito Botão Menu*/
.efeitoItemLi:hover{
    background-color: gray;
    padding: 20px;       
}



/*Efeitos <Li>
.itemLi{
    padding: 10px;
    transition: backgroud-color 0.3s; 
}*/






/*Paragrafo*/
.containerParagrafo{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 6.5rem;   
    
}

.itemParagrafo{
    width: 80%;
    height: auto;
    padding: 2rem;
    
    border: 3px solid blueviolet;   
}

p{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    text-align: justify;   
    text-indent: 3.5rem;

    /*Cria Espassamentos entre Linhas do Texto*/
    line-height: 2;

    /*Quebra Palavras para Caber na Caixa*/
    overflow-wrap: break-word;    
        
}





/*Imagens do Perfil*/
.containerImagemPerfil{ 
    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;
    align-items: center;
    
    /*
    flex-wrap: wrap;
    Propriedade Quebra para a Outra Linha
    */
    
}

.itemImagemPerfil{
    border: 0px solid black;    
    height: 13rem;
    width: 13rem;
    flex-shrink: 0;
    
}

.legendaImagemPerfil{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
            
    text-align: center;
}






/*Botão Voltar Topo*/
.btnVoltarTopo{        
    background-color: red;
    color: white;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: 10px 30px;
    
}


.voltarTopo{
    display: flex;
    justify-content: center;
    margin-bottom: 15rem;
    margin-top: 7rem;
}





/*Container do Rodapé*/
.containerLinkDev{
    display: flex;   
    justify-content: center;    
    
}

.containerAltoral{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}





/*Itens do Contener/Rodape*/
.altoral{
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
       
}


/*Link Equipe Dev*/
.linkDev{
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: blue; 
    text-decoration: none !important;     
    
    /*"!important"Forçar a Propriedade a Execultar*/
    
    
}






@media (max-width: 800px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }  

    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.7rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 5rem;
    }

    h3{
        font-size: 3.3rem;
        text-align: center;
    }

    h4{
        font-size: 3.1rem;        
        text-align: center;        
    }
    
    h5{
        font-size: 2.9rem;        
        text-align: center;
    }



    /*Menu*/
    .containerUl{
        display: flex;
        flex-direction: column;
        gap: 4rem;         
    }
    


    .itemLi{ 
        font-size: 2.7rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        width: 80%;
        height: auto;     

    }

    .itemLiInicial{ 
        font-size: 7rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        width: 80% !important;
        height: auto;         

    }



    p{
        font-size: 2.5rem;
        text-align: justify;
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }




    /*Imagens do Perfil*/
    .containerImagemPerfil{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;         
        
    }

    .itemImagemPerfil{        
        border: 0px solid black;    
        height: 45rem;
        width: 100%;
        
        margin-right: auto;
        margin-left: auto;       
        
    }

    .legendaImagemPerfil{
        font-size: 2.5rem;
        font-weight: bold;          
        text-align: center;
        margin-bottom: 10rem;
        
    }





    /*Botão Voltar Topo*/
    .btnVoltarTopo{        
        font-size: 2.7rem;
        text-align: center; 
        padding: 50px 100px;
        border-radius: 20px;       
    }



    
    
    /*Itens do Contener/Rodape*/
    .altoral{
        font-size: 2.5rem;
        text-align: center;
        
    }


    .linkDev{
        font-size: 2.5rem;
       text-align: center;           
        
    }   


} 




@media (max-width: 500px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }  

    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.7rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 5rem;
    }

    h3{
        font-size: 3.3rem;
        text-align: center;
    }

    h4{
        font-size: 3.1rem;        
        text-align: center;        
    }
    
    h5{
        font-size: 2.9rem;        
        text-align: center;
    }



    /*Menu*/
    .containerUl{
        display: flex;
        flex-direction: column;
        gap: 4rem;         
    }
    


    .itemLi{ 
        font-size: 2.7rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        width: 80%;
        height: auto;     

    }

    .itemLiInicial{ 
        font-size: 7rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        width: 80% !important;
        height: auto;         

    }



    p{
        font-size: 2.5rem;
        text-align: justify;
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }




    /*Imagens do Perfil*/
    .containerImagemPerfil{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;         
        
    }

    .itemImagemPerfil{        
        border: 0px solid black;    
        height: 45rem;
        width: 100%;
        
        margin-right: auto;
        margin-left: auto;       
        
    }

    .legendaImagemPerfil{
        font-size: 2.5rem;
        font-weight: bold;          
        text-align: center;
        margin-bottom: 10rem;
        
    }





    /*Botão Voltar Topo*/
    .btnVoltarTopo{        
        font-size: 2.7rem;
        text-align: center; 
        padding: 50px 100px;
        border-radius: 20px;       
    }



    
    
    /*Itens do Contener/Rodape*/
    .altoral{
        font-size: 2.5rem;
        text-align: center;
        
    }


    .linkDev{
        font-size: 2.5rem;
       text-align: center;           
        
    }   


} 














    




















