*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;   
    
}

body{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
       
}

h1{       
    background-color: blue;
    color: white;
    font-size: 1.4rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    background-color: gray; 
    color: white;
    font-size: 1.3rem;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{       
    background-color: coral;
    color:  white;
    font-size: 1;2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;           
}

.baner{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;      
       
    
}

.baner2{
    border: 3px solid white;    
    height: 16rem;
    width: 16rem;
    margin: 0.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.img{
    border-radius: 50%;
    border: 3px solid black;
    border: none;
}*/

.menuLi{   
    
    color:  blueviolet;    
    text-decoration: none; 
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
         
                
}

.menuUl{  
    list-style-type: none;
    text-align: center;
    /*display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;*/ 
                  
}


@media (max-width: 808px) {
    body{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    .menuLi{
        font-size: 3.5rem;
        text-align: center;

    }

    .baner{     
        flex-direction: column;
        
    } 
    
    .baner2{
    border: 0px solid white;    
    height: 35rem;
    width: 90%;    

    }
    
}


@media (max-width: 500px) {
    body{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    .menuLi{
        font-size: 3.5rem;
        text-align: center;
    }

    .baner{     
        flex-direction: column;
        
    } 
    
    .baner2{
    border: 0px solid white;    
    height: 35rem;
    width: 90%;    

    }  
    
}









