*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
       
}

h1{        
    background-color: blue;
    color: white;
    font-size: 1.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{       
    background-color: gray;
    color: white;
    font-size: 1.6rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{         
    background-color: coral;
    color: white;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;         
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;  

}

h4{
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
}

h5{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
}

p{
    font-size: 1.1rem;
    color: black;
    width: 95%;
    text-align: justify;    
    margin-left: auto;
    margin-right: auto;
    text-indent: 4rem;
}

.menuLi{ 
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    color: blueviolet ;    
    text-decoration: none;   
                
}

.menuUl{    
    list-style-type: none;
    text-align: center;   
}

.sair{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
    
}

.btnEntrar{  
    background-color: blue;
    color: white;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 60px;
    width: 10vw;
    border: none;
    cursor: pointer; 
    border-radius: 8px;   
}

.btnMostrar{    
    background-color: gray;
    color: white;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 60px;
    width: 10vw;
    border: none;
    cursor: pointer;
    border-radius: 8px;     
}

input{
    background-color: aqua;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
}

label{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.centralForm{
    text-align: center;
}

.msg{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}




@media (max-width: 800px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    h4{
        font-size: 3.5rem;        
        text-align: center;        
    }
    
    h5{
        font-size: 3.5rem;        
        text-align: center;
    }
    
    /*p{
        font-size: 2.5rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }*/

    .sair{
        font-size: 3.5rem;
        text-align: center;
    }

    input{
        font-size: 3.5rem;
        text-align: center;
    }

    label{
        font-size: 3.5rem;
        text-align: center;
    }

    .btnMostrar{
        font-size: 3rem;
        text-align: center;
        width: 50%;
        height: 90px;
        margin-top: 40px;
    }
    
    .btnEntrar{
        font-size: 3rem;
        text-align: center;
        width: 50%;
        height: 90px;
        margin-top: 20px;
    } 

    .msg{
        font-size: 3.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }


}


@media (max-width: 500px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    h4{
        font-size: 3.5rem;        
        text-align: center;
    }
    
    h5{
        font-size: 3.5rem;        
        text-align: center;
    }
    
    /*p{
        font-size: 2.5rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }*/

    
    .sair{
        font-size: 3.5rem;
        text-align: center;
    }

    input{
        font-size: 3.5rem;
        text-align: center;
    }

    label{
        font-size: 3.5rem;
        text-align: center;
    }

    .btnMostrar{
        font-size: 3rem;
        text-align: center;
        width: 50%;
        height: 90px;
        margin-top: 40px;
    }
    
    .btnEntrar{
        font-size: 3rem;
        text-align: center;
        width: 50%;
        height: 90px;
        margin-top: 20px;
    }
    
    .msg{
        font-size: 3.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

}



