*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
       
}

h1{        
    background-color: blue;
    color: white;
    font-size: 1.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{       
    background-color: gray;
    color: white;
    font-size: 1.55rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{         
    background-color: coral;
    color: white;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;         
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;  

}

h4{
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

h5{
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

p{
    font-size: 1rem;
    color: black;
    width: 95%;
    text-align: justify;    
    margin-left: auto;
    margin-right: auto;
    text-indent: 4rem;
}

.menuLi{   
    
    color: blueviolet ;    
    text-decoration: none;   
                
}

.menuUl{
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
              
    
}

.sair{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    
}


@media (max-width: 800px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    h4{
        font-size: 3.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
    } 

    h5{
        font-size: 3rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
    }
    
    p{
        font-size: 2.5rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;      
    }
    
    .sair{
        font-size: 3.5rem;
        text-align: center;
    }


}


@media (max-width: 500px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    h4{
        font-size: 2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
    } 

    h5{
        font-size: 3rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
    }
    
    p{
        font-size: 2.5rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;       
    }

    
    .sair{
        font-size: 3.5rem;
        text-align: center;
    }



}
