*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
       
}

h1{        
    background-color: blue;
    color: white;
    font-size: 2.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{       
    background-color: gray;
    color: white;
    font-size: 2rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{         
    background-color: coral;
    color: white;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;         
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;  

}

h4{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

p{
    font-size: 1.5rem;
    color: black;
}

.menuLi{   
    
    color: blueviolet ;    
    text-decoration: none;   
                
}

.menuUl{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
              
    
}

.sair{
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    
}