*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 4vw;
    margin-bottom: 4vw;  
}

h1{
    background-color: blue;
    color: white;
    font-size: 2vw;
    height: 3vw;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 

}

h2{
    background-color: gray;
    color: white;
    font-size: 2vw;    
    height: 3vw;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}



.sair{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; 
    text-align: center;   
}

.video{
    width: 250px;
    height: 300px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border: 4px solid  blueviolet;       
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 800px) {
    body{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    .video{
        width: 80%;
        height: 600px;

    }


}


@media (max-width: 500px) {
    body{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    .video{
        width: 80%;
        height: 600px;

    }


}







