*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
       
}

h1{        
    background-color: blue;
    color: white;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

h2{       
    background-color: gray;
    color: white;
    font-size: 1.5rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

h3{         
    background-color: coral;
    color: white;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;         
    border: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 4rem; 

}

h4{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
    margin-bottom: 3rem;
}

h5{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
}



/*Baner*/
.containerBaner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: "imagem/fotoMasso1.jpd";
}

.itemBaner{
    border: 0px solid black;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}




/*Menu*/
.containerUl{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    margin-bottom: 100px;       
    list-style-type: none;
    text-align: center;
    
    /*Propriedade para a Linha Mão Quebrar*/
    white-space: nowrap;
}


.itemLi{ 
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: blueviolet;  
    color: white ;     
    text-decoration: none;  
    margin-right: 30px;
    margin-left: 30px; 
    text-align: center;
    padding: 10px;
    border-radius: 5px;

}

.itemLiInicial{ 
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: red;  
    color: white ;     
    text-decoration: none;  
    margin-right: 30px;
    margin-left: 30px; 
    text-align: center;
    padding: 10px;
    border-radius: 5px;    

    /*Efeito Botão
    transition: backgroud-color 0.3s;*/          

}



/*Efeitos <Li>*/
.itemLi{
    padding: 10px;
    transition: backgroud-color 0.3s; 
}

.efeitoItemLi:hover{
    background-color: gray;
    padding: 20px;       
}





p{
    font-size: 1rem;
    color: black;
    width: 95%;
    text-align: justify;    
    margin-left: auto;
    margin-right: auto;
    text-indent: 4rem;
}

.menuLi{ 
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    color: blueviolet ;    
    text-decoration: none;   
                
}

.menuUl{    
    list-style-type: none;
    text-align: center;   
}

.sair{
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
    
}

.video{
    width: 350px;
    height: 450px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 4px solid  blueviolet;       
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Botão Voltar Topo*/
.btnVoltarTopo{        
    background-color: red;
    color: white;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 2rem;
    width: 5rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    padding: 3px;
    
}


.voltarTopo{
    display: flex;
    justify-content: center;
    margin-bottom: 3.5rem;
}



/*Rodapé*/
.centerRodape{
    display: flex;
    justify-content: center;
}

.altoral{
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flexbox;
    margin: auto;
    text-align: center;            
    margin-bottom: 0.7rem;  
    
}

.linkDev{
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;   
    text-decoration: none;
    
}







@media (max-width: 800px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }  

    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.7rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 5rem;
    }

    h3{
        font-size: 3.3rem;
        text-align: center;
    }

    h4{
        font-size: 3.1rem;        
        text-align: center;        
    }
    
    h5{
        font-size: 2.9rem;        
        text-align: center;
    }



    /*Menu*/
    .containerUl{
        display: flex;
        flex-direction: column;
        gap: 4rem; 

        margin-left: auto;
        margin-right: auto;               
        list-style-type: none;
        text-align: center;   
    }
    


    .itemLi{ 
        font-size: 2.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        background-color: blueviolet;  
        color: white ;     
        text-decoration: none;  
        margin-bottom: 2rem;
        margin-left: 1rem; 
        text-align: center;
        padding: 1rem;
        border-radius: 5px;    

        /*Efeito Botão
        transition: backgroud-color 0.3s;*/          

    }

    .itemLiInicial{ 
        font-size: 2.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        background-color: red;  
        color: white ;     
        text-decoration: none;  
        margin-bottom: 2rem;
        margin-left: 30px; 
        text-align: center;
        padding: 10px;
        border-radius: 5px;    

        /*Efeito Botão
        transition: backgroud-color 0.3s;*/          

    }



    p{
        font-size: 2.7rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }

    .sair{
        font-size: 3.3rem;
        text-align: center;
    }

    .menuLi{
        font-size: 3.3rem;
        text-align: center; 
                
    }

    .menuUl{
        list-style-type: none;        
        text-align: center; 
                
    }

    .video{
        width: 80%;
        height: 700px;
    }

}





@media (max-width: 500px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }  

    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.7rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 5rem;
    }

    h3{
        font-size: 3.3rem;
        text-align: center;
    }

    h4{
        font-size: 3.1rem;        
        text-align: center;        
    }
    
    h5{
        font-size: 2.9rem;        
        text-align: center;
    }



    /*Menu*/
    .containerUl{
        display: flex;
        flex-direction: column;
        gap: 4rem; 

        margin-left: auto;
        margin-right: auto;               
        list-style-type: none;
        text-align: center;   
    }
    


    .itemLi{ 
        font-size: 2.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        background-color: blueviolet;  
        color: white ;     
        text-decoration: none;  
        margin-bottom: 2rem;
        margin-left: 1rem; 
        text-align: center;
        padding: 1rem;
        border-radius: 5px;    

        /*Efeito Botão
        transition: backgroud-color 0.3s;*/          

    }

    .itemLiInicial{ 
        font-size: 2.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        background-color: red;  
        color: white ;     
        text-decoration: none;  
        margin-bottom: 2rem;
        margin-left: 30px; 
        text-align: center;
        padding: 10px;
        border-radius: 5px;    

        /*Efeito Botão
        transition: backgroud-color 0.3s;*/          

    }



    p{
        font-size: 2.7rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }

    .sair{
        font-size: 3.3rem;
        text-align: center;
    }

    .menuLi{
        font-size: 3.3rem;
        text-align: center; 
                
    }

    .menuUl{
        list-style-type: none;        
        text-align: center; 
                
    }

    .video{
        width: 80%;
        height: 700px;
    }

}















